{% if menu %}
    <ul id="{{ menu.menu_id }}" class="menu">
        {% for item in menu.items %}
            <li {% if item.class %}class="{{ item.class }}"{% endif %}>
                <a href="/{{ item.slug }}">{{ item.title }}</a>
                {% if item.children %}
                    <ul class="sub-menu">
                        {% for child in item.children %}
                            <li {% if child.class %}class="{{ child.class }}"{% endif %}>
                                <a href="/{{ child.slug }}">{{ child.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}