{% if category %}
    {% load thumbnail %}

    <aside id="colormag_featured_posts_vertical_widget-5" class="widget widget_featured_posts widget_featured_posts_vertical widget_featured_meta clearfix">
        <h3 class="widget-title" style="border-bottom-color:#a38a6d;">
            <span style="background-color:#a38a6d;">{{ category.title }}</span>
        </h3>
        {% for post in posts %}
            {% if forloop.first %}
                <div class="first-post">
                    <div class="single-article clearfix">
                        <figure>
                            <a href="{{ post.get_absolute_url }}" title="{{ post.title }}">
                                {% thumbnail post.main_image "390x205" crop="center" as img %}
                                    <img src="{{ img.url }}" alt="{{ post.title }}" title="{{ post.title }}">
                                {% endthumbnail %}
                            </a>
                        </figure>
                        <div class="article-content">
                            <h3 class="entry-title">
                                <a href="{{ post.get_absolute_url }}" title="{{ post.title }}">{{ post.title }}</a>
                            </h3>
                            <div class="below-entry-meta"></div>
                            <div class="entry-content">
                                <p>{{ post.content|striptags|safe|truncatewords:20 }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="following-post">
                    <div class="single-article clearfix">
                        <figure>
                            <a href="{{ post.get_absolute_url }}" title="{{ post.title }}">
                                {% thumbnail post.main_image "130x90" crop="center" as img %}
                                    <img src="{{ img.url }}" alt="{{ post.title }}" title="{{ post.title }}">
                                {% endthumbnail %}
                            </a>
                        </figure>
                        <div class="article-content">
                            <h3 class="entry-title">
                                <a href="{{ post.get_absolute_url }}" title="{{ post.title }}">{{ post.title }}</a>
                            </h3>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </aside>
{% endif %}